<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%d{dd.MM.yyyy HH:mm:ss.SSS}] %highlight([%-5level]) %-40logger{40} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="smtp.base" level="DEBUG"/>
    <logger name="smtp.integration.test" level="DEBUG"/>
</configuration>